.first_block {
  background-image: url("https://demo.ishithemes.com/opencart/OPC138/OPC138/image/catalog/story/storyblock1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.second_block {
  background-image: url("https://demo.ishithemes.com/opencart/OPC138/OPC138/image/catalog/story/storyblock2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
